<!DOCTYPE html>
<html>
<head>
	<title><%= @page_title || "Ibrokers" %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>

	<style>
		#search {
		}

		#search input[type="text"] {
		    background: url(/assets/searchwhite.png) no-repeat 10px 6px #fcfcfc;
		    border: 1px solid #d1d1d1;
		    font: bold 12px Arial,Helvetica,Sans-serif;
		    color: #bebebe;
		    width: 150px;
		    padding: 6px 15px 6px 35px;
		    -webkit-border-radius: 20px;
		    -moz-border-radius: 20px;
		    border-radius: 20px;
		    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
		    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
		    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
		    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
		    -webkit-transition: all 0.7s ease 0s;
		    -moz-transition: all 0.7s ease 0s;
		    -o-transition: all 0.7s ease 0s;
		    transition: all 0.7s ease 0s;
		    }

		   #search input[type="text"]:focus {
		    width: 200px;
		    }	
	</style>
</head>

<body>
	<div id="wrap">
	<div class="container-fluid">
		<div class="header row">
			<div class="col-sm-3">
				<%= link_to image_tag("IBL Logo.png", alt: "Logo"), root_url %>
			</div>
			<div class="col-sm-9 header-height">
				<div class="pull-right" style="margin-right:60px">
					<ul class="header-links">
						<li><a href="#" class="blue-link">File a claim</a></li>
						<li><a href="#" class="blue-link">Contact us</a></li>
						<li><a href="#" class="blue-link"><span class="icon icon-facebook"></span></a></li>
						<li><a href="#" class="blue-link"><span class="icon icon-twitter"></span></a></li>
						<li><input style="background-color:#E91717; height:35px; border:none; color:#FFFFFF;margin-top:-10px;" type="submit" value="LOG IN"/></li>
						<li><input style="background-color:#E91717; height:35px; border:none; color:#FFFFFF;margin: -10px 0 0 -9px;" type="submit" value="REGISTER"/></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="row subheader-borders">			
			<ul class="nav navbar-nav" style="margin-left:70px">
				<li class="dropdown">
					<a class="nav-subheading" <%= link_to 'HOME', root_url %><b></b></a>
				</li>
				<li class="dropdown">
					<a class="nav-subheading" href="#">ABOUT IBL<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><%= link_to 'Vision', about_us_path %></li>
						<li><%= link_to 'Why Us', why_ibrokers_path %></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="nav-subheading" href="#">SERVICE AND PRODUCTS<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><%= link_to 'Personal', personal_path %></li>
						<li><%= link_to 'Business', business_path %></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="nav-subheading" href="#">ADVICE<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Your Risk</a></li>
						<li><%= link_to 'Why Use A Broker', why_ibrokers_path %></li>
						<li><a href="#">Insurance Partner</a></li>
						<li><a href="#">ACC Cover + Extra</a></li>
					</ul>
				</li>
			</ul>

			<div class="pull-right" style="margin-right:90px;margin-top:6px;">
				<form method="get" action="#" id="search">
					<input name="q" type="text" size="40" placeholder="Search..." />
				</form>
			</div>	
		</div>
	</div>		

	<div class="container-fluid">
		<%= yield %>	
	</div>
	</div>
	<div class="footer container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="pull-left">
				Copyright &copy; 2011-2014 IBL. All rights reserved.
			</div>
			<div class="pull-right">
				<ul class="footer-links-list">
					<li>
						<a href="#" class="blue-link footer-link">Online Privacy and Security Statement</a>
					</li>
					<li>
						<a href="#" class="blue-link footer-link">Usage Agreement</a>
					</li>
				</ul>
				
			</div>
		</div>
	</div>		
	</div>
</body>
</html>
