<!DOCTYPE html>
<html>
<head>
	<title>Ibrokers</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<div class="header row">
			<div class="col-sm-3">
				<img src="<%= asset_path("IBL Logo.png", type: :image) %>" alt="Logo" />
			</div>
			<div class="col-sm-9 header-height">
				<div class="pull-right">
					<ul class="header-links">
						<li><a href="#" class="blue-link">File a claim</a></li>
						<li><a href="#" class="blue-link">Contact us</a></li>
						<li><a href="#" class="blue-link"><span class="icon icon-facebook"></span></a></li>
						<li><a href="#" class="blue-link"><span class="icon icon-twitter"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row subheader-borders">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#">ABOUT IBL<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Vision</a></li>
						<li><a href="#">Why Us</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#">SERVICE AND PRODUCTS<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Personal</a></li>
						<li><a href="#">Business</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#">ADVICE<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Your Risk</a></li>
						<li><a href="#">Why Use A Broker</a></li>
						<li><a href="#">Insurance Partner</a></li>
						<li><a href="#">ACC Cover + Extra</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<%= yield %>	
	</div>
	<div class="footer container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="pull-left">
				Copyright &copy; 2011-2014 IBL. All rights reserved.
			</div>
			<div class="pull-right">
				<ul class="footer-links-list">
					<li>
						<a href="#" class="blue-link footer-link">Online Privacy and Security Statement</a>
					</li>
					<li>
						<a href="#" class="blue-link footer-link">Usage Agreement</a>
					</li>
				</ul>
				
			</div>
		</div>
	</div>		
	</div>
</body>
</html>
